<a href="https://colab.research.google.com/github/sharmer156/practicalAI/blob/master/notebooks/01_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

<img src="https://raw.githubusercontent.com/GokuMohandas/practicalAI/master/images/logo.png" width=150>

In this lesson we will learn the basics of the Python programming language (version 3). We won't learn everything about Python but enough to do some basic machine learning.

<img src="https://raw.githubusercontent.com/GokuMohandas/practicalAI/master/images/python.png" width=350>

#  Variables

Variables are objects in Python that can hold anything with numbers or text. Let's look at how to create some variables.

In [1]:
# Numerical example
x = 5
print (x)

5

In [2]:
# Text example
x = "hello"
print (x)

hello

In [1]:
# Variables can be used with each other
a = 1
b = 2
c = a + b
print (c)

3

Variables can come in lots of different types. Even within numerical variables, you can have integers (int), floats (float), etc. All text based variables are of type string (str). We can see what type a variable is by printing its type.

In [3]:
# int variable
x = 5
print (x)
print (type(x))

# float variable
x = 5.0
print (x)
print (type(x))

# text variable
x = "5" 
print (x)
print (type(x))

# boolean variable
x = True
print (x)
print (type(x))

5
<class 'int'>
5.0
<class 'float'>
5
<class 'str'>
True
<class 'bool'>

It's good practice to know what types your variables are. When you want to use numerical operations on them, they need to be compatible.

In [4]:
# int variables
a = 5
b = 3
print (a + b)

# string variables
a = "5"
b = "3"
print (a + b)

8
53

#  Lists

Lists are objects in Python that can hold a ordered sequence of numbers **and** text.

In [5]:
# Creating a list
list_x = [3, "hello", 1]
print (list_x)

[3, 'hello', 1]

In [6]:
# Adding to a list
list_x.append(7)
print (list_x)

[3, 'hello', 1, 7]

In [0]:
# Accessing items at specific location in a list
print ("list_x[0]: ", list_x[0])
print ("list_x[1]: ", list_x[1])
print ("list_x[2]: ", list_x[2])
print ("list_x[-1]: ", list_x[-1]) # the last item
print ("list_x[-2]: ", list_x[-2]) # the second to last item

list_x[0]:  3
list_x[1]:  hello
list_x[2]:  1
list_x[-1]:  7
list_x[-2]:  1

In [7]:
# Slicing 限幅 不改变该表
print ("list_x[:]: ", list_x[:])  #翻转该列表
print ("list_x[2:]: ", list_x[2:]) #第[2]元素开始翻转
print ("list_x[1:3]: ", list_x[1:3]) #第[1][3-1]之间元素开始翻转
print ("list_x[:-1]: ", list_x[:-1])#去掉[-1]元素

list_x[:]:  [3, 'hello', 1, 7]
list_x[2:]:  [1, 7]
list_x[1:3]:  ['hello', 1]
list_x[:-1]:  [3, 'hello', 1]

In [14]:
print (list_x)

[3, 'hello', 1, 7]

In [15]:
# Length of a list
len(list_x)

4

In [16]:
# Replacing items in a list 替换
list_x[1] = "hi"
print (list_x)

[3, 'hi', 1, 7]

In [0]:
# Combining lists 表运算
list_y = [2.4, "world"]
list_z = list_x + list_y
print (list_z)

[3, 'hi', 1, 7, 2.4, 'world']

In [19]:
# list可以和浮点数乘除与其它列表加
list_y = [2.4, "world"]
list_a = list_x * 3+ list_y
print (list_a)

[3, 'hi', 1, 7, 3, 'hi', 1, 7, 3, 'hi', 1, 7, 2.4, 'world']

In [26]:
# list不能相互减乘除开方等,TypeError:
list_U = [3, 'hi']
list_c = list_x - list_U
print (list_c)

TypeError: ignored

# Tuples 元组（无法修改里面值）

Tuples are also objects in Python that can hold data but you cannot replace their values (for this reason, tuples are called immutable, whereas lists are known as mutable).

In [20]:
# Creating a tuple 
tuple_x = (3.0, "hello")
print (tuple_x)

(3.0, 'hello')

In [21]:
# Adding values to a tuple 仍然可以做元组运算
tuple_x = tuple_x + (5.6,)
print (tuple_x)

(3.0, 'hello', 5.6)

In [22]:
# Trying to change a tuples value (you can't) 修改值就会报TypeError错
tuple_x[1] = "world"

TypeError: ignored

# Dictionaries 字典

Dictionaries are Python objects that hold key-value pairs. In the example dictionary below, the keys are the "name" and "eye_color" variables. They each have a value associated with them. A dictionary cannot have two of the same keys. 
字典是保存键值对的Python对象。在下面的示例字典中，“name”是键和“eye_color”参数。它们每个都有一个相关的值。字典不能有两个相同的键。

In [27]:
# Creating a dictionary 字典
goku = {"name": "Goku",
        "eye_color": "brown"}
print (goku)
print (goku["name"])
print (goku["eye_color"])

{'name': 'Goku', 'eye_color': 'brown'}
Goku
brown

In [30]:
# 字典可以拥有相同的value
goku = {"name": "Goku",
        "eye_color": "Goku"}
print (goku)
print (len(goku))

{'name': 'Goku', 'eye_color': 'Goku'}
2

In [29]:
# 字典可以拥有相同的参数 但不能拥有相同的key,如果相同key，最终只有最后一个key成立
goku = {"name": "Goku",
        "name": "brown"}
print (goku)
print (len(goku))

{'name': 'brown'}
1

In [32]:
# Changing the value for a key 改变
goku["eye_color"] = "green"
print (goku)

{'name': 'Goku', 'eye_color': 'green'}

In [33]:
# Adding new key-value pairs
goku["age"] = 24
print (goku)

{'name': 'Goku', 'eye_color': 'green', 'age': 24}

In [34]:
# Length of a dictionary
print (len(goku))

3

# If statements

You can use `if` statements to conditionally do something.

In [31]:
# If statement
x = 4
if x < 1:
    score = "low"
elif x <= 4:
    score = "medium"
else:
    score = "high"
print (score)

medium

In [35]:
# If statment with a boolean
x = True

if x:
    print ("it worked")

it worked

In [55]:
y = False
if y:
    print ("it not worked")
if x:
    print ("it worked")
if y == x:
    print ("it not worked")
else:#y != x
    print ("it  worked")

it worked
it  worked

# Loops

In Python, you can use `for` loop to iterate over the elements of a sequence such as a list or tuple, or use `while` loop to do something repeatedly as long as a condition holds.

In [61]:
# For loop
x = 1
for i in range(3): # goes from i=0 to i=2
    x += 1 # same as x = x + 1
    print ("i={0}, x={1}".format(i, x)) # printing with multiple variables

i=0, x=2
i=1, x=3
i=2, x=4

In [62]:
print(i) #“i”是这个函数的一个无效关键字参数

2

In [57]:
# Loop through items in a list
x = 1
for i in [0, 1, 2]:  # range(3) =list[0, 1, 2]
    x += 1
    print ("i={0}, x={1}".format(i, x))

i=0, x=2
i=1, x=3
i=2, x=4

In [63]:
# While loop
x = 3
while x > 0:
    x -= 1 # same as x = x - 1
    print (x)

2
1
0

# Functions

Functions are a way to modularize reusable pieces of code.

In [64]:
# Create a function
def add_two(x):
    x += 2
    return x

# Use the function
score = 0
score = add_two(x=score)
print (score)

2

In [65]:
# Function with multiple inputs
def join_name(first_name, last_name):
    joined_name = first_name + " " + last_name
    return joined_name

# Use the function
first_name = "Goku"
last_name = "Mohandas"
joined_name = join_name(first_name=first_name, last_name=last_name)
print (joined_name)

Goku Mohandas

# Classes 类

Classes are a fundamental piece of object oriented programming in Python.类是Python中面向对象编程的基本部分。

In [0]:
# Creating the class
class Pets(object):
  
    # Initialize the class
    def __init__(self, species, color, name):
        self.species = species
        self.color = color
        self.name = name

    # For printing  
    def __str__(self):
        return "{0} {1} named {2}.".format(self.color, self.species, self.name)

    # Example function
    def change_name(self, new_name):
        self.name = new_name

In [67]:
# Creating an instance of a class
my_dog = Pets(species="dog", color="orange", name="Guiness",)
print (my_dog)
print (my_dog.name)

orange dog named Guiness.
Guiness

In [68]:
# Using a class's function
my_dog.change_name(new_name="Charlie")
print (my_dog)
print (my_dog.name)

orange dog named Charlie.
Charlie

# Additional resources

This was a very quick look at Python and we'll be learning more in future lessons. If you want to learn more right now before diving into machine learning, check out this free course: [Free Python Course](https://www.codecademy.com/learn/learn-python)